body {
    background: rgb(38, 0, 48);/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #061F31 , #2F062C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #061F31, #2F062C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #061F31, #2F062C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #061F31 , #2F062C); /* Standard syntax */
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -130px;
    /* Pad bottom by footer height */
    padding: 0 0 130px;
  }

.jumbotron {
    background-color: #38083700; 
    padding-top: 100px;
}

.kiemel {
    border: 3px solid red;
    background-image: url("../img/bggrad.jpg");
}
/* ================================ NAVBAR ================================ */

.bg-dark {
    background-color: #000000!important;
}

/* aktív hamburgermenü - kontúr eltüntetés */
button:focus, .navbar-toggler:focus, .navbar-toggler-icon:focus, .btn:focus {
    border: 1px solid rgba(207, 6, 123, 0.25);
    outline: none;
}

.navlogo {
    margin-bottom: 0.5rem;
}

.nav-item {
    margin-left: 1.8rem;
}

.dropdown-menu {
    background-color:rgba(51, 14, 50, 0.95);
    top: 107%;
    border-left: 1px solid rgba(207, 6, 123, 0.75);
    border-right: 1px solid rgba(207, 6, 123, 0.75);
    border-bottom: 1px solid rgba(207, 6, 123, 0.75);
    /* box-shadow: 0px 0px 35px rgba(0, 153, 224, 0.4); */
}

.dropdown-item {
    color: rgba(255,255,255,.7);
}

.dropdown-item:hover {
    background-color:rgba(207, 6, 123, 1);
    color: rgb(255, 255, 255);
}

.dropdown-divider {
    border-top: 1px solid rgba(207, 6, 123, 0.75);
}

@media screen and (min-width:768px) {
    .nav-link {
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 35px;
    }

    .navlogo {
        margin-bottom: 0;
    }
}
/* ================================ /NAVBAR ================================ */

/* ================================ /DANCE SHOWS ================================ */

.bg-grad {
    background-image: url("../img/bggrad.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 0; */
}

.btn {
    font-weight: 600;
    text-align: left;
    white-space: inherit;
    width: 100%;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(137, 4, 83, 1) 0%,rgba(94, 24, 91, 1) 31.92%,rgba(92, 25, 91, 1) 33%,rgba(17, 61, 105, 1) 68.15%,rgba(15, 63, 106, 1) 70.3%,rgba(0, 91, 122, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(94, 24, 91, 1) 31.92%, rgba(92, 25, 91, 1) 33%, rgba(17, 61, 105, 1) 68.15%, rgba(15, 63, 106, 1) 70.3%, rgba(0, 91, 122, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(137, 4, 83, 1) ),color-stop(0.3192,rgba(94, 24, 91, 1) ),color-stop(0.33,rgba(92, 25, 91, 1) ),color-stop(0.6815,rgba(17, 61, 105, 1) ),color-stop(0.703,rgba(15, 63, 106, 1) ),color-stop(1,rgba(0, 91, 122, 1) ));
    background : -o-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(94, 24, 91, 1) 31.92%, rgba(92, 25, 91, 1) 33%, rgba(17, 61, 105, 1) 68.15%, rgba(15, 63, 106, 1) 70.3%, rgba(0, 91, 122, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(137, 4, 83, 1) 0%, rgba(94, 24, 91, 1) 31.92%, rgba(92, 25, 91, 1) 33%, rgba(17, 61, 105, 1) 68.15%, rgba(15, 63, 106, 1) 70.3%, rgba(0, 91, 122, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#890453', endColorstr='#005B7A' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(137, 4, 83, 1) 0%, rgba(94, 24, 91, 1) 31.92%, rgba(92, 25, 91, 1) 33%, rgba(17, 61, 105, 1) 68.15%, rgba(15, 63, 106, 1) 70.3%, rgba(0, 91, 122, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#890453',endColorstr='#005B7A' , GradientType=1);
    border: none;
    border-radius: 0;
    color: rgba(255, 255, 255, 0.7);
}

.btn:hover {
    background : -moz-linear-gradient(0% 50% 0deg,rgba(224, 7, 136, 1) 0%,rgba(135, 36, 132, 1) 33%,rgba(25, 94, 159, 1) 68.15%,rgba(0, 145, 194, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(224, 7, 136, 1) ),color-stop(0.33,rgba(135, 36, 132, 1) ),color-stop(0.6815,rgba(25, 94, 159, 1) ),color-stop(1,rgba(0, 145, 194, 1) ));
    background : -o-linear-gradient(0deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E00788', endColorstr='#0091C2' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(224, 7, 136, 1) 0%, rgba(135, 36, 132, 1) 33%, rgba(25, 94, 159, 1) 68.15%, rgba(0, 145, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E00788',endColorstr='#0091C2' , GradientType=1);
}

.btn:focus {
    border: none;
    box-shadow: 0 0 1rem 0.1rem rgba(0,123,255,.5);
    color: white;
    text-shadow: 0 0 1rem 0.1rem rgba(33, 1, 63, 0.5);
    background : -moz-linear-gradient(0% 50% 0deg,rgba(234, 77, 156, 1) 0%,rgba(159, 53, 147, 1) 31.92%,rgba(26, 99, 167, 1) 68.15%,rgba(0, 170, 235, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(234, 77, 156, 1) 0%, rgba(159, 53, 147, 1) 31.92%, rgba(26, 99, 167, 1) 68.15%, rgba(0, 170, 235, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(234, 77, 156, 1) ),color-stop(0.3192,rgba(159, 53, 147, 1) ),color-stop(0.6815,rgba(26, 99, 167, 1) ),color-stop(1,rgba(0, 170, 235, 1) ));
    background : -o-linear-gradient(0deg, rgba(234, 77, 156, 1) 0%, rgba(159, 53, 147, 1) 31.92%, rgba(26, 99, 167, 1) 68.15%, rgba(0, 170, 235, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(234, 77, 156, 1) 0%, rgba(159, 53, 147, 1) 31.92%, rgba(26, 99, 167, 1) 68.15%, rgba(0, 170, 235, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA4D9C', endColorstr='#00AAEB' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(234, 77, 156, 1) 0%, rgba(159, 53, 147, 1) 31.92%, rgba(26, 99, 167, 1) 68.15%, rgba(0, 170, 235, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA4D9C',endColorstr='#00AAEB' , GradientType=1);
}

.jumbotron-shows {
    color: rgba(255, 255, 255, 0.5);
}

.h1-shows {
    margin-bottom: 1.5rem;
}

.clearfix {
    margin-bottom: 1rem;
}

.card-body {
    color: white;
    margin-top: -1rem;
    margin-bottom: 1rem;
    padding: 0;
    box-shadow: 0 0 1rem 0.1rem rgba(0,123,255,.5);
    border: none;
    border-radius: 0 0 0.5rem 0.5rem;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(94, 3, 57, 1) 0%,rgba(73, 19, 70, 1) 31.92%,rgba(71, 19, 70, 1) 33%,rgba(14, 45, 78, 1) 68.15%,rgba(12, 47, 78, 1) 70.3%,rgba(0, 65, 87, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(94, 3, 57, 1) 0%, rgba(73, 19, 70, 1) 31.92%, rgba(71, 19, 70, 1) 33%, rgba(14, 45, 78, 1) 68.15%, rgba(12, 47, 78, 1) 70.3%, rgba(0, 65, 87, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(94, 3, 57, 1) ),color-stop(0.3192,rgba(73, 19, 70, 1) ),color-stop(0.33,rgba(71, 19, 70, 1) ),color-stop(0.6815,rgba(14, 45, 78, 1) ),color-stop(0.703,rgba(12, 47, 78, 1) ),color-stop(1,rgba(0, 65, 87, 1) ));
    background : -o-linear-gradient(0deg, rgba(94, 3, 57, 1) 0%, rgba(73, 19, 70, 1) 31.92%, rgba(71, 19, 70, 1) 33%, rgba(14, 45, 78, 1) 68.15%, rgba(12, 47, 78, 1) 70.3%, rgba(0, 65, 87, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(94, 3, 57, 1) 0%, rgba(73, 19, 70, 1) 31.92%, rgba(71, 19, 70, 1) 33%, rgba(14, 45, 78, 1) 68.15%, rgba(12, 47, 78, 1) 70.3%, rgba(0, 65, 87, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E0339', endColorstr='#004157' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(94, 3, 57, 1) 0%, rgba(73, 19, 70, 1) 31.92%, rgba(71, 19, 70, 1) 33%, rgba(14, 45, 78, 1) 68.15%, rgba(12, 47, 78, 1) 70.3%, rgba(0, 65, 87, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E0339',endColorstr='#004157' , GradientType=1);
}


.card-txt {
    padding: 0.8rem 1.25rem 1.25rem 1.25rem;
    font-style: italic;
}

.descript {
    font-size: 90%;
    color: rgba(255, 255, 255, 0.75);
}
 
.specifi {
    font-style: normal;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 0.03rem;
}

.descript:after, .specifi:after {
    display: block;
    content: "";
    background-color: rgba(255, 255, 255, 0.25);
    margin: 1rem auto 1.2rem auto;
    height: 1px;
    width: 100%;
}

.btnImage {
    width: 50%;
    float: left;
    margin: -0.4rem 0.6rem -0.4rem -0.2rem;
}

.price {
    font-style: normal;
    text-align: center;
    text-shadow: 0px 00px 50px rgba(0, 170, 235, 1), 
    0px 00px 30px rgba(0, 170, 235, 1),
    0px 00px 10px rgba(0, 170, 235, 1);
}

.doubleprice {
    width: 50%; 
    float: left;
}

/* ================================ /DANCE SHOWS ================================ */

/* ================================ Footer ================================ */

.footer {
    height: 130px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 6px;
}

.footerline {
    margin: 11px;
}

/* Facebook */
.fa {
    padding: 6px;
    font-size: 13px;
    width: 26px;
    text-align: center;
    border-radius: 50%;
    margin: 0 0.5rem 0.3rem 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
    text-decoration: none;
}

.fa-youtube:hover {
    background: #bb0000;
    color: white;
    text-decoration: none;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
    text-decoration: none;
}

.adresslink {
    margin: 0 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}

.adresslink:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.footerline p {
    font-size: 0.78rem;
    color: rgba(255, 255, 255, 0.5);
}
/* ================================ /Footer ================================ */
