body {
    background-color:rgb(38, 0, 48);
}

.jumbotron {
    background-color: #CF067B;
}
/* ================ NAVBAR ================ */

.bg-dark {
    background-color: #000000!important;
}

.nav-link {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.dropdown-menu {
    background-color:rgba(207, 6, 123, 0.25);
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

@media screen and (min-width:768px) {
    .nav-link {
        margin-top: 35px;
    }
}
