body {
    background-color:rgb(38, 0, 48);
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

main {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -150px;
    /* Pad bottom by footer height */
    padding: 0 0 150px;
  }

.jumbotron {
    background-color: rgba(207, 6, 123, 0);
    margin-top: 83px;
}

.kiemel {
    border: 3px solid red;
}
/* ================================ NAVBAR ================================ */

.bg-dark {
    background-color: #000000!important;
}

/* aktív hamburgermenü - kontúr eltüntetés */
button:focus, .navbar-toggler:focus, .navbar-toggler-icon:focus, .btn:focus {
    border: 1px solid rgba(207, 6, 123, 0.25);
    outline: none;
}

.navlogo {
    margin-bottom: 0.5rem;
}

.nav-item {
    margin-left: 1.8rem;
}

.dropdown-menu {
    background-color:rgba(207, 6, 123, 0.25);
    top: 107%;
    /* box-shadow: 0px 0px 35px rgba(0, 153, 224, 0.4); */
}

.dropdown-item {
    color: rgba(255,255,255,.5);
}

.dropdown-item:hover {
    background-color:rgba(207, 6, 123, 1);
    color: rgb(255, 255, 255);
}

.dropdown-divider {
    border-top: 1px solid rgba(207, 6, 123, 0.75);
}

@media screen and (min-width:768px) {
    .nav-link {
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 35px;
    }

    .navlogo {
        margin-bottom: 0;
    }
}
/* ================================ /NAVBAR ================================ */

/* ================================ Footer ================================ */

.footer {
    height: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 8px;
}

.footerline {
    margin: 12px;
}

/* Facebook */
.fa {
    padding: 8px;
    font-size: 15px;
    width: 32px;
    text-align: center;
    border-radius: 50%;
    margin: 0 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
}

.fa:hover {
    /* box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.7); */
    background: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.adresslink {
    margin: 0 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}

.adresslink:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.footerline p {
    font-size: 0.82rem;
    color: rgba(255, 255, 255, 0.5);
}
/* ================================ /Footer ================================ */
